// filter
.filter-active {
    color: #fff !important;
    background: #2BBB8F;
}

//comments
@keyframes lovestar{
	0%{
		opacity:0;
		transform:translate3d(10px,10px,0);
	} 50%{
		opacity:1;
		transform:translate3d(5px,-20px,0) scale(2,2);
	}100%{
		opacity:0;
		transform:translate3d(0,0,0) scale(.4,.4) rotate(180deg);
	}
}
.liked {
    animation: lovestar 1.2s 0s 1 ease-in-out normal none;
}
.liked + svg > use {
    fill: #ec6941;
    transition: fill .2s .6s;
}