html,body {
	min-width: 320px;
	height: 100%;
}
body {
	margin: 0;
	font-family: "STHeiti","Microsoft YaHei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}
div,
span {
	box-sizing: border-box;
}
p {
	margin: 0;
}
h2 {
	margin: 0;
}
a {
	text-decoration: none;
	outline: none;
}
li {
	list-style: none;
}
img {
	width: 100%;
	height: 100%;
}
blockquote {
	margin: 0;
}
input, button {
	padding: 0;
	border: 0;
}
input, button, textarea {
	outline: none;
}